html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
html {
  font-size: 40px;
}
body {
  padding-top: 7vh;
  background-color: #e6e6e6;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#header {
  width: 100vw;
}
#header .fixed-header {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 5vw;
  color: white;
  z-index: 5;
}
#header .fixed-header .logo-content {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}
#header .fixed-header .logo-content .content {
  margin-left: 0.25rem;
}
#header .fixed-header .logo-content .content p {
  margin: 0;
}
#header .fixed-header .logo-content .content p span {
  font-size: 0.3rem;
  color: #9c9c9c;
}
#header .fixed-header .download {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
#header .fixed-header .download div {
  background-color: #ca9442;
  color: #000000;
}
#header .nav-header {
  height: 7vh;
  width: 100%;
  background-color: #f3ac41;
}
#header .nav-header .nav-content {
  display: flex;
  text-align: center;
  line-height: 7vh;
  color: white;
  height: 100%;
}
#header .nav-header .nav-content li {
  height: 100%;
  flex-grow: 1;
}
#header .nav-header .nav-content li a {
  color: #eeeeee;
}
#header .nav-header .nav-content li a:hover {
  border-bottom: 3px solid white;
  text-decoration: none;
}
#header .banner-show {
  margin-bottom: 15px;
  width: 100%;
}
#header .banner-show #myCarousel {
  width: 100%;
}
#header .banner-show #myCarousel .carousel-inner div img {
  width: 100%;
}
#main {
  width: 100%;
}
#main .main-nav-wrap {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
}
#main .main-nav-wrap .main-nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main .main-nav-wrap .main-nav .items {
  width: 25%;
  box-sizing: border-box;
  flex-grow: 1;
  border-right: 1px solid #cccccc;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
}
#main .main-nav-wrap .main-nav .items .items-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .main-nav-wrap .main-nav .items .items-wrap div {
  height: 6vh;
  width: 1.25rem;
  background: url(../images/index.png) no-repeat -442px -135px;
  transform: scale(0.6);
}
#main .main-nav-wrap .click {
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  background-color: #fafafa;
}
#main .main-nav-wrap .click span {
  position: relative;
  left: 10px;
  color: #b8b8b8;
}
#main .main-nav-wrap .click span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: -2px;
  left: -20px;
  background: url(../images/index.png) no-repeat -282px -464px;
  transform: rotateX(180deg) scale(0.6);
}
#main .main-new-wrap {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  padding: 0 10px;
}
#main .main-new-wrap .title {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
#main .main-new-wrap .title .font-lg {
  font-size: 0.5rem;
}
#main .main-new-wrap .new-content .new-nav {
  height: 5vh;
  width: 100%;
}
#main .main-new-wrap .new-content .new-nav .nav {
  height: 5vh;
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 5vh;
}
#main .main-new-wrap .new-content .new-nav .nav li {
  flex-grow: 1;
}
#main .main-new-wrap .new-content .news {
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main .main-new-wrap .new-content .news p {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
#main .main-new-wrap .new-content .news p .color {
  color: #91cfdf;
  font-size: 0.4rem;
}
#main .main-hero-wrap {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  padding: 0 10px;
}
#main .main-hero-wrap .title {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .main-hero-wrap .title .font-lg {
  font-size: 0.5rem;
}
#main .main-hero-wrap .banner {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
#main .main-hero-wrap .banner img {
  width: 100%;
}
#main .main-hero-wrap .nav-hero-class {
  width: 100%;
  height: 5vh;
}
#main .main-hero-wrap .nav-hero-class .hero-nav {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
#main .main-hero-wrap .nav-hero-class .hero-nav .nav {
  width: 100%;
  height: 100%;
  display: flex;
}
#main .main-hero-wrap .nav-hero-class .hero-nav .nav li {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: center;
  line-height: 5vh;
}
#main .main-hero-wrap .nav-hero-class .hero-nav .nav li a {
  color: #525252;
  display: inline;
  padding: 0;
}
#main .main-hero-wrap .nav-hero-class .hero-nav .nav li a:hover {
  color: #f3ac41;
  border-bottom: 3px solid #f3ac41;
}
#main .main-hero-wrap .hero-pic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#main .main-hero-wrap .hero-pic .items {
  width: 20%;
  padding: 5px;
}
#main .main-hero-wrap .hero-pic .items div {
  width: 100%;
}
#main .main-hero-wrap .hero-pic .items div img {
  width: 100%;
}
#main .main-hero-wrap .hero-pic .items .name {
  height: 3vh;
  text-align: center;
  line-height: 3vh;
}
#main .main-video-wrap {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  padding: 0 10px;
}
#main .main-video-wrap .title {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
#main .main-video-wrap .title .font-lg {
  font-size: 0.5rem;
}
#main .main-video-wrap .video-nav {
  margin-top: 5px;
  width: 100%;
}
#main .main-video-wrap .video-nav .nav {
  width: 100%;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  display: flex;
  justify-content: space-between;
}
#main .main-video-wrap .video-nav .nav li {
  height: 100%;
}
#main .main-video-wrap .video-nav .nav li a {
  display: inline;
  padding: 0px;
  color: #525252;
}
#main .main-video-wrap .video-nav .nav li a:hover {
  color: #f3ac41;
  border-bottom: 3px solid #f3ac41;
}
#main .main-video-wrap .video-content-wrap {
  width: 100%;
}
#main .main-video-wrap .video-content-wrap .video-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#main .main-video-wrap .video-content-wrap .video-content .items {
  width: 50%;
  padding: 5px;
  margin: 5px 0;
}
#main .main-video-wrap .video-content-wrap .video-content .items .pic {
  width: 100%;
}
#main .main-video-wrap .video-content-wrap .video-content .items .pic img {
  width: 100%;
}
#main .main-video-wrap .video-content-wrap .video-content .items .font-content {
  width: 100%;
}
#main .main-video-wrap .video-content-wrap .video-content .items .font-content p {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  color: #747474;
}
#main .main-video-wrap .video-content-wrap .video-content .items .play-sum {
  width: 100%;
  height: 2.5vh;
  display: flex;
  justify-content: space-between;
}
#main .main-video-wrap .video-content-wrap .video-content .items .play-sum span {
  color: #aaaaaa;
}
#main .main-video-wrap .video-content-wrap .video-content .items .play-sum .icon {
  position: relative;
  left: 0.4rem;
}
#main .main-video-wrap .video-content-wrap .video-content .items .play-sum .icon::before {
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  position: absolute;
  top: 2px;
  left: -0.4rem;
  background: url(../images/index.png) no-repeat -77px -540px;
  border-radius: 2px;
}
#main .main-video-wrap .video-content-wrap .click {
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  background-color: #fafafa;
  margin-top: 0.5rem;
}
#main .main-video-wrap .video-content-wrap .click span {
  position: relative;
  left: 10px;
  color: #b8b8b8;
}
#main .main-video-wrap .video-content-wrap .click span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: -2px;
  left: -20px;
  background: url(../images/index.png) no-repeat -282px -464px;
  transform: rotateX(180deg) scale(0.6);
}
#main .main-tips-wrap {
  width: 100%;
  background-color: white;
  padding: 0 10px;
}
#main .main-tips-wrap .title {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
#main .main-tips-wrap .title .font-lg {
  font-size: 0.5rem;
}
#main .main-tips-wrap .tips-nav {
  margin-top: 5px;
  width: 100%;
}
#main .main-tips-wrap .tips-nav .nav {
  width: 100%;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  display: flex;
}
#main .main-tips-wrap .tips-nav .nav li {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
#main .main-tips-wrap .tips-nav .nav li a {
  display: inline;
  padding: 0px;
  color: #525252;
}
#main .main-tips-wrap .tips-nav .nav li a:hover {
  color: #f3ac41;
  border-bottom: 3px solid #f3ac41;
}
#main .main-tips-wrap .items {
  width: 100%;
  display: flex;
  padding: 5px 0;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
#main .main-tips-wrap .items .left-pic {
  width: 35%;
  padding: 0 5px;
}
#main .main-tips-wrap .items .left-pic img {
  width: 100%;
}
#main .main-tips-wrap .items .right-font {
  width: 65%;
}
#main .main-tips-wrap .items .right-font p {
  margin: 0;
  padding-right: 0.25rem;
}
#main .main-tips-wrap .items .right-font .title-tips {
  font-size: 0.5rem;
  border: none;
}
#main .main-tips-wrap .items .right-font .grey {
  color: grey;
}
#main .main-tips-wrap .items .right-font .data {
  font-size: 0.3rem;
  color: grey;
}
#main .main-tips-wrap .click {
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  background-color: #fafafa;
  margin-top: 0.5rem;
}
#main .main-tips-wrap .click span {
  position: relative;
  left: 10px;
  color: #b8b8b8;
}
#main .main-tips-wrap .click span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: -2px;
  left: -20px;
  background: url(../images/index.png) no-repeat -282px -464px;
  transform: rotateX(180deg) scale(0.6);
}
